[submodule "hdl/projects/fmcomms5"]
	path = hdl/projects/fmcomms5
	url = https://github.com/johnathan-convertino-afrl/fmcomms5.git
[submodule "hdl/ip/ad"]
	path = hdl/ip/ad
	url = https://github.com/johnathan-convertino-afrl/ad_hdl_fusesoc.git
[submodule "hdl/ip/zipcpu_wb2axip"]
	path = hdl/ip/zipcpu_wb2axip
	url = https://github.com/johnathan-convertino-afrl/zipcpu_wb2axip_fusesoc.git
[submodule "sw/linux/buildroot-afrl"]
	path = sw/linux/buildroot-afrl
	url = https://github.com/johnathan-convertino-afrl/buildroot-afrl.git
[submodule "hdl/projects/fmcomms2-3"]
	path = hdl/projects/fmcomms2-3
	url = https://github.com/johnathan-convertino-afrl/fmcomms2-3.git
[submodule "hdl/util/util_fpga_binary_gen"]
	path = hdl/util/util_fpga_binary_gen
	url = https://github.com/johnathan-convertino-afrl/util_fpga_binary_gen.git
[submodule "hdl/util/util_generators"]
	path = hdl/util/util_generators
	url = https://github.com/johnathan-convertino-afrl/util_generators.git
[submodule "hdl/util/util_board"]
	path = hdl/util/util_board
	url = https://github.com/johnathan-convertino-afrl/util_board.git
[submodule "hdl/util/util_tcl"]
	path = hdl/util/util_tcl
	url = https://github.com/johnathan-convertino-afrl/util_tcl.git
[submodule "hdl/sim/util_sim_helper"]
	path = hdl/sim/util_sim_helper
	url = https://github.com/johnathan-convertino-afrl/util_sim_helper.git
