[submodule "hdl/projects/fmcomms5"]
	path = hdl/projects/fmcomms5
	url = https://github.com/johnathan-convertino-afrl/fmcomms5.git
[submodule "hdl/ip/ad"]
	path = hdl/ip/ad
	url = https://github.com/johnathan-convertino-afrl/ad_hdl_fusesoc.git
[submodule "sw/linux/buildroot-afrl"]
	path = sw/linux/buildroot-afrl
	url = https://github.com/johnathan-convertino-afrl/buildroot-afrl.git
[submodule "hdl/projects/fmcomms2-3"]
	path = hdl/projects/fmcomms2-3
	url = https://github.com/johnathan-convertino-afrl/fmcomms2-3.git
[submodule "hdl/util/util_fpga_binary_gen"]
	path = hdl/util/util_fpga_binary_gen
	url = https://github.com/johnathan-convertino-afrl/util_fpga_binary_gen.git
[submodule "hdl/util/util_generators"]
	path = hdl/util/util_generators
	url = https://github.com/johnathan-convertino-afrl/util_generators.git
[submodule "hdl/util/util_board"]
	path = hdl/util/util_board
	url = https://github.com/johnathan-convertino-afrl/util_board.git
[submodule "hdl/util/util_tcl"]
	path = hdl/util/util_tcl
	url = https://github.com/johnathan-convertino-afrl/util_tcl.git
[submodule "hdl/sim/util_sim_helper"]
	path = hdl/sim/util_sim_helper
	url = https://github.com/johnathan-convertino-afrl/util_sim_helper.git
[submodule "hdl/projects/unified_ad936x"]
	path = hdl/projects/unified_ad936x
	url = git@github.com:johnathan-convertino-afrl/unified_ad936x.git
[submodule "hdl/ip/axi_lite_otm"]
	path = hdl/ip/axi_lite_otm
	url = https://github.com/johnathan-convertino-afrl/axi_lite_otm.git
[submodule "hdl/ip/axi_lite_read_channel_decoder"]
	path = hdl/ip/axi_lite_read_channel_decoder
	url = https://github.com/johnathan-convertino-afrl/axi_lite_read_channel_decoder.git
[submodule "hdl/ip/axi_lite_write_channel_decoder"]
	path = hdl/ip/axi_lite_write_channel_decoder
	url = https://github.com/johnathan-convertino-afrl/axi_lite_write_channel_decoder.git
[submodule "hdl/ip/bus_addr_decoder"]
	path = hdl/ip/bus_addr_decoder
	url = https://github.com/johnathan-convertino-afrl/bus_addr_decoder.git
[submodule "hdl/ip/holdbuffer"]
	path = hdl/ip/holdbuffer
	url = https://github.com/johnathan-convertino-afrl/holdbuffer.git
[submodule "hdl/util/util_helper"]
	path = hdl/util/util_helper
	url = https://github.com/johnathan-convertino-afrl/util_helper.git
